<h1>Welcome <%=@user.username%>!</h1>
<br>
<h2> Would you like to:</h2>
<p>
<ul>
    <a href="">Read All Reviews</a> 
    <br>
    <br>
    <a href="">Read All your Reviews</a>
    <br>
    <br>
    <a href="">Create a New Review</a>
    
</ul>
</p>
<br>
<br>
<p><a href="/logout">Log Out</a></p>