<h1>Welcome to The Loop</h1>
<br>
<br>
<h2>Write or read reviews on motorsport venues.</h2>
<div class="content">
      <p>Welcome to The Loop! Create an account or Login to start writing reviews.</p>
      <br>
      <p> <a href="/signup">Create an Account</a></p>
      <p> <a href="/login">Login</a></p>
</div>